
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")




    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/moment-with-locales.js")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $(".userImg").error(function () {
                $(this).attr({
                    src: '/Images/Users/Default.jpg'
                });
            });
            $(".advertImg").error(function () {
                $(this).attr({
                    src: '/Images/Adverts/Default.jpg'
                });
            });
        });
    </script>



</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/Home/Home" class="navbar-brand">@Resources.Resource.WallAdvertsName</a>
            </div>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-globe"></span>
                        @Resources.Resource.SelectLanguage
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Українська", "ChangeLanguage", new { lang = "uk" })</li>
                        <li>@Html.ActionLink("English", "ChangeLanguage", new { lang = "en" })</li>
                        <!--todo ru-->
                    </ul>
                </li>


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span><span class="glyphicon glyphicon-user"></span>
                        @Session["Username"]
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Home/MyProfile/">@Resources.Resource.Profile</a></li>
                        @if (Session["Role"] != null && Session["Role"].ToString() == "Admin")
                        {
                            <li><a href="/Home/AdminPanel/">@Resources.Resource.AdminPanel</a></li>
                        }
                        <li><a href="/Home/Logout/"><span class="glyphicon glyphicon-log-out"></span> @Resources.Resource.Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>






    @RenderBody()








    @RenderSection("scripts", required: false)
</body>
</html>
