@model  PagedList.IPagedList<WallAdverts.Models.Advert>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home";
    Layout = Session["LayoutSrc"].ToString();
}

<div id="newAdvert" class="panel col-md-12">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">

                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#CollapsePanelAdvert" class="btn btn-primary col-xs-offset-5">@Resources.Resource.AddAdvert</a>
                </h4>

            </div>
            <div id="CollapsePanelAdvert" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="form-group">
                        <label for="nameAdvert" class="col-xs-3 control-label">@Resources.Resource.AdvertName</label>
                        <div class="col-xs-7">
                            <input type="text" id="nameAdvert" name="nameAdvert" class="form-control" />
                            <p id="errorName" style="color:red; display:none">@Resources.Resource.ErrorRequiredField</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descriptionAdvert" class="col-sm-3 control-label">@Resources.Resource.AdvertDescription</label>
                        <div class="col-xs-7">
                            <textarea id="descriptionAdvert" name="descriptionAdvert" class="form-control" rows="4"></textarea>
                            <p id="errorDesc" style="color:red; display:none">@Resources.Resource.ErrorRequiredField</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">@Resources.Resource.AdvertImage</label>
                        <div class="col-xs-7">
                            <input type="file" name="upload" id="uploadFile" class="filestyle" data-classButton="btn btn-primary" data-input="false"  accept="image/jpg,image/jpeg"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-5">
                            <input type="submit" id="submit" value="@Resources.Resource.AddAdvert" class="btn btn-success" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="wall" class="container body-content">
    @foreach (var item in Model)
    {
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>@item.Name</h3>
            </div>
            <div class="panel-body">
                <img class="advertImg" src="@item.ImageSrc" />
                <p>@item.Description</p>
            </div>
            <div class="panel-footer text-right">
                @Resources.Resource.Posted
                @Html.ActionLink(item.AuthorName, "ShowProfile", new { id = @item.AuthorId });
                @item.DateCreate.ToShortDateString()
            </div>
        </div>
    }
    @Html.PagedListPager(Model, page => Url.Action("Home", new { page }))

</div>

@Scripts.Render("~/Scripts/bootstrap-filestyle.min.js")


<script type="text/javascript">
    $(":file").filestyle();

    $('#submit').on('click', function (e) {
        e.preventDefault();
        var nameAdv = $("#nameAdvert").val();
        var descAdv = $("#descriptionAdvert").val();
        var errorName = $("#errorName");
        var errorDesc = $("#errorDesc");

        if (nameAdv.trim() == "") {
           errorName.css("display", "block");
            return;
        }
        if (descAdv.trim() == "") {
            errorDesc.css("display", "block");
            return;
        }
        var wall = $("#wall");
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                data.append("file", files[0]);
            }
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateAdvert", "Home")' + '?nameAdvert=' + nameAdv + '&descriptionAdvert=' + descAdv,
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                errorName.css("display", "none");
                errorDesc.css("display", "none");
                wall.empty();
                wall.html(result);
                $(":file").filestyle('clear');
            },
            error: function (xhr, status, p3) {
                alert(xhr.responseText);
            }
        });

    });
</script>

