@model  IEnumerable<WallAdverts.Models.Advert>


@{
    ViewBag.Title = "Home";
    Layout = Session["LayoutSrc"].ToString();
}
<div id="newAdvert" class="panel col-md-12">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">

                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#CollapsePanelAdvert" class="btn btn-primary col-xs-offset-5">@Resources.Resource.AddAdvert</a>
                </h4>

            </div>
            <div id="CollapsePanelAdvert" class="panel-collapse collapse">
                <div class="panel-body">
               @* @using (Ajax.BeginForm("CreateAdvert", "Home", new AjaxOptions { UpdateTargetId = "wall" }, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {*@    
                        <div class="form-group">
                            <label for="nameAdvert" class="col-xs-3 control-label">@Resources.Resource.AdvertName</label>
                            <div class="col-xs-7">
                                <input type="text" id="nameAdvert" name="nameAdvert" class="form-control" />
                            </div>
                        </div>

                            <div class="form-group">
                                <label for="descriptionAdvert" class="col-sm-3 control-label">@Resources.Resource.AdvertDescription</label>
                                <div class="col-xs-7">
                                    <textarea id="descriptionAdvert" name="descriptionAdvert" class="form-control" rows="4" id="descriptionAdvert"></textarea>
                                </div>
                            </div>

                    <input type="file" name="upload" id="uploadFile" /><br />
                          
                            <div class="form-group">
                                <div class="col-xs-offset-5">
                                    <input type="submit" id="submit" value="@Resources.Resource.AddAdvert" class="btn btn-success" />
                                </div>
                            </div>
                    <!--}-->
                </div>
            </div>
        </div>
    </div>
</div>


<div id="wall" class="container body-content">


@foreach (var item in Model.OrderByDescending(m => m.DateCreate))
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>@item.Name</h3>
        </div>
        <div class="panel-body">
            <img class="advertImg" src="@item.ImageSrc" />
            <p>@item.Description</p>
        </div>
        <div class="panel-footer text-right">
            @Resources.Resource.Posted
            @Html.ActionLink(item.AuthorName, "ShowProfile", new { id = @item.AuthorId });&nbsp;
            @item.DateCreate.ToShortDateString()
                </div>
    </div>
}
</div>



<script type="text/javascript">

    $('#submit').on('click', function (e) {
        e.preventDefault();
        var nameAdv=$("#nameAdvert").val();
        var descAdv = $("#descriptionAdvert").val();
        var wall = $("#wall");
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateAdvert", "Home")' + '?nameAdvert=' + nameAdv + '&descriptionAdvert=' + descAdv,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        wall.empty();                       
                        wall.load(result);
                        alert(result);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });
</script>