@model  PagedList.IPagedList<WallAdverts.Models.Advert>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home";
    Layout = Session["LayoutSrc"].ToString();
}
<div class="head">
    <div id="newAdvert" class="panel col-md-12">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">

                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#CollapsePanelAdvert" class="btn btn-primary col-xs-offset-5">@Resources.Resource.AddAdvert</a>
                    </h4>

                </div>
                <div id="CollapsePanelAdvert" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="nameAdvert" class="col-xs-3 control-label">@Resources.Resource.AdvertName</label>
                            <div class="col-xs-7">
                                <input type="text" id="nameAdvert" name="nameAdvert" class="form-control" />
                                <p id="errorName" style="color:red; display:none">@Resources.Resource.ErrorRequiredField</p>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="descriptionAdvert" class="col-sm-3 control-label">@Resources.Resource.AdvertDescription</label>
                            <div class="col-xs-7">
                                <textarea id="descriptionAdvert" name="descriptionAdvert" class="form-control" rows="4"></textarea>
                                <p id="errorDesc" style="color:red; display:none">@Resources.Resource.ErrorRequiredField</p>
                            </div>
                        </div>
                        <br />

                        <div class="form-group">
                            <label class="col-md-3 control-label">@Resources.Resource.AdvertImage</label>
                            <div class="col-xs-7">
                                <input type="file" name="upload" id="uploadFile" class="filestyle" data-classButton="btn btn-primary" data-input="false" accept="image/*" />
                            </div>
                        </div>
                        <br />

                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-3">
                                <input type="submit" id="submit" value="@Resources.Resource.AddAdvert" class="btn btn-success" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="form form-inline filterByDate col-md-offset-6">
        <div class="form-group">
            <label for="dateFor" class="control-label">&nbsp;@Resources.Resource.FilterByDate &nbsp;</label>
            @Html.TextBox("dateFrom", null, new { id = "dateFrom", @class = "form-control", placeholder = Resources.Resource.DateFormat })
        </div>

        <span class="">&nbsp;&nbsp;-&nbsp;&nbsp;</span>

        <div class="form-group">
            @Html.TextBox("dateTo", null, new { id = "dateTo", @class = "form-control", placeholder = Resources.Resource.DateFormat })
        </div>

    </form>
</div>


<br />

<div id="wall" class="container body-content">
    <div class="panel-group">
        @foreach (var item in Model)
            {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3>@item.Name
                        @if (Session["Role"] != null && Session["Role"].ToString() == "Moderator")
                        {
                            @Html.ActionLink(" ", "DeleteAdvert", new { id = item.Id }, new { @class = "close text-right glyphicon glyphicon-remove" })
                        }
                    </h3>
                  
                </div>
                <div class="panel-body">
                    <img class="advertImg" src="@item.ImageSrc" />
                    <div class="col-md-offset-3">
                        <pre>@MvcHtmlString.Create(@item.Description.Replace(Environment.NewLine, "<br />"))</pre>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    @Resources.Resource.Posted
                    @Html.ActionLink(item.AuthorName, "ShowProfile", new { id = @item.AuthorId })
                    @item.DateCreate.ToShortDateString()
                </div>
            </div>
        }
        @Html.PagedListPager(Model, page => Url.Action("Home", new { page }))
    </div>
</div>


@Scripts.Render("~/Scripts/bootstrap-filestyle.min.js")


<script type="text/javascript">
    $(":file").filestyle();




    $("#dateFrom").datepicker({
        defaultDate: "-0d",
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:@DateTime.Now.Year',
        dateFormat: 'yy-mm-dd',
        onClose: function (selectedDate) {
            $("#dateTo").datepicker("option", "minDate", selectedDate);
            var dateTo = $("#dateTo").datepicker({ dateFormat: 'yy-mm-dd' }).val();
            var wall = $("#wall");
            $.ajax({
                type: "POST",
                url: '@Url.Action("FilterByDate", "Home")' + '?dateFrom=' + selectedDate + '&dateTo=' + dateTo,
                contentType: false,
                processData: false,
                success: function (result) {
                    wall.empty();
                    wall.html(result);
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });
        }
    });
    $("#dateTo").datepicker({
        defaultDate: "+0d",
        changeMonth: true,
        changeYear: true,
        yearRange: '1900:@DateTime.Now.Year',
        dateFormat: 'yy-mm-dd',
        onClose: function (selectedDate) {
            $("#dateFrom").datepicker("option", "maxDate", selectedDate);
            var dateFrom = $("#dateFrom").datepicker({ dateFormat: 'yy-mm-dd' }).val();
            var wall = $("#wall");
            $.ajax({
                type: "POST",
                url: '@Url.Action("FilterByDate", "Home")' + '?dateFrom=' + dateFrom + '&dateTo=' + selectedDate,
                contentType: false,
                processData: false,
                success: function (result) {
                    wall.empty();
                    wall.html(result);
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });
        }
    });

    $('#submit').on('click', function (e) {
        e.preventDefault();
        var nameAdv = $("#nameAdvert").val();
        var descAdv = $("#descriptionAdvert").val().replace(/\n/g, '_/_/NEWLINE_/_/');
        var errorName = $("#errorName");
        var errorDesc = $("#errorDesc");

        if (nameAdv.trim() == "") {
            errorName.css("display", "block");
            return;
        }
        if (descAdv.trim() == "") {
            errorDesc.css("display", "block");
            return;
        }
        var wall = $("#wall");
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                data.append("file", files[0]);
            }
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateAdvert", "Home")' + '?nameAdvert=' + nameAdv + '&descriptionAdvert=' + descAdv,
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                errorName.css("display", "none");
                errorDesc.css("display", "none");
                wall.empty();
                wall.html(result);
                $(":file").filestyle('clear');
            },
            error: function (xhr, status, p3) {
                alert(xhr.responseText);
            }
        });

    });


</script>

