@model PagedList.IPagedList<WallAdverts.Models.Advert>
@using PagedList.Mvc;

<div>
@foreach (var item in Model)
{
   <div class="panel panel-success">
       <div class="panel-heading">
           <h3>@item.Name</h3>           
       </div>
       <div class="panel-body">
           <img class="advertImg" src="@item.ImageSrc" />
           <div class="col-md-offset-3">
               <pre>@MvcHtmlString.Create(@item.Description.Replace(Environment.NewLine, "<br />"))</pre>
           </div>
       
       </div>
       <div class="panel-footer text-right">
          @Resources.Resource.Posted
     @Html.ActionLink(item.AuthorName, "ShowProfile", new { id = @item.AuthorId })
           @item.DateCreate.ToShortDateString()
       </div>
   </div>
}

    @Html.PagedListPager(Model, page => Url.Action("Home", new { page }))

</div>
